deepspeed==0.5.9
descriptastorus==2.5.0.20
django==4.2.6
djangorestframework==3.14.0
libzlib==1.2.13
mpmath==1.3.0
dgl==0.6.0
dgl-cuda11.6==0.9.1post1
dgllife==0.3.2
deeppurpose==0.1.5
matplotlib-base==3.6.2
matplotlib-inline==0.1.6
numpy==1.24.4
openbabel==3.1.1
packaging==22.0
pip==23.3.2
python==3.9.15
python-dateutil==2.8.2
python-slugify==5.0.2
python_abi==3.9
pytorch-lightning==1.8.6
pytorch-pretrained-bert==0.6.2
pytorch-transformers==1.1.0
pandas==1.5.2
pandas-flavor==0.5.0
rdkit==2022.9.5
readline==8.1.2
scikit-learn==0.24.2
seaborn==0.12.1
scipy==1.9.3
tqdm==4.64.1
torch==2.0.1
torch-cluster==1.6.1+pt20cu117
torch-geometric==2.3.1
torch-scatter==2.1.1+pt20cu117
torch-sparse==0.6.17+pt20cu117
torch-spline-conv==1.2.2+pt20cu117
torchaudio==2.0.2
torchdata==0.7.1
torchmetrics==0.11.4
torchvision==0.15.2
transformers==4.35.2
urllib3==1.26.13
